[general]

# Database connection
# database = "mysql://user[:password]@host/database"
database = "mysql://root@localhost/mule"

# Locale for localized formats
locale = en_US.utf8

# Name of the cookie we set on the client browser for persistent logins
loginCookieName = "rememberMe"
